@page
@model www.Pages.CidCadastroModel
@{
    ViewData["Title"] = "Cadastro de CID";
}

<style>
    .section {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .btn-margin {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>

<form id="cidForm" class="row g-3">

    <div class="row align-items-center mb-3">
        <div class="col-auto">
            <i class="fas fa-file-medical fa-3x"></i>
        </div>
        <div class="col">
            <h1>Cadastro de CID</h1>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-dark" onclick="location.href='/CidGerenciamento'">
                Gerenciamento de CIDs
            </button>
        </div>
    </div>
    <hr />

    <div class="section">
        <h2 class="section-title">Informações do CID</h2>
        <div class="row">
            <div class="col-md-2">
                <label for="txtid" class="form-label">Código</label>
                <input type="text" class="form-control" id="txtid" value="0" placeholder="Código" disabled>
            </div>

            <div class="col-md-3">
                <label for="txtcodigo" class="form-label">Código CID</label>
                <input type="text" class="form-control" id="txtcodigo" placeholder="Código CID" maxlength="15" required>
                <div class="invalid-feedback">
                    Por favor, insira o código do CID.
                </div>
            </div>

            <div class="col-md-5">
                <label for="txtdescricao" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="txtdescricao" placeholder="Descrição" maxlength="100" required>
                <div class="invalid-feedback">
                    Por favor, insira a descrição.
                </div>
            </div>

            <div class="col-md-2">
                <label for="selectStatus" class="form-label">Status</label>
                <select class="form-control" id="selectStatus" required>
                    <option value="0">Selecione um status</option>
                </select>
                <div class="invalid-feedback">
                    Por favor, selecione um status.
                </div>
            </div>

            <div class="col-md-2">
                <label for="selectVersaoCid" class="form-label">Versão CID</label>
                <select class="form-control" id="selectVersaoCid" required>
                    <option value="0">Selecione uma versão</option>
                </select>
                <div class="invalid-feedback">
                    Por favor, selecione uma versão do CID.
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <button type="button" class="btn btn-primary" onclick="location.href='/CidGerenciamento'">Voltar</button>
        <button type="button" id="btnsalvar" class="btn btn-primary">Salvar</button>
        <button type="button" id="btnlimpar" class="btn btn-primary">Limpar</button>
    </div>

</form>

@section Scripts {
    <script src="~/js/Cid.js"></script>
}
