@page
@model www.Pages.PacienteModel
@{
}

<form class="row g-3">
    <div class="col-md-2">
        <label for="txtid" class="form-label">Código</label>
        <input type="text" class="form-control" id="txtid" value="0" placeholder="Código" disabled>
    </div>


    <h2>Formulário de Paciente</h2>
    <form id="formPaciente">
        <label for="tipoContatoSelect">Tipo de Contato:</label>
        <select id="tipoContatoSelect" name="tipoContato">
            <!-- Options serão adicionadas dinamicamente pela função jQuery -->
        </select>
        <!-- Outros campos do formulário -->
        <input type="submit" value="Salvar Paciente">
    </form>




    <div class="col-12">
        <button type="button" id="btnsalvar" class="btn btn-primary">Cadastrar</button>
        <button type="button" id="btnlimpar" class="btn btn-primary">Limpar</button>
    </div>

</form>

@section Scripts {
    <script src="~/js/Paciente.js"></script>
}
